{% extends 'base.html' %}

{% block content %}
<form class="form" method="post">
    <div class="form-group">
        Subreddit
        <input type="text" name="subreddit" id="subreddit" placeholder="{{ res['subreddit'] }}"
            class="form-control" value="{{ res['subreddit'] or request.form['subreddit'] }}">
    </div>
    <button type="submit" class="btn btn-primary">Go!</button>
</form>
<hr>

<!-- blocks for content -->
{% for submission in res['content'] %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            {% if submission['image_url'] is not none %}
            <a href="{{ submission['image_url'] }}"><img src="{{ submission['image_url'] }}" alt="image" height="200"></a>
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ submission['content_url'] }}" target="_blank">{{ submission['title'] }}</a>
                </h5>
                <p class="card-text">
                    Top Reddit posts ranked by loss function value of a NLP model.
                </p>
                <p class="card-text"><small class="text-muted">
                    <a href="{{ url_for(endpoint='show_interesting_submissions', subreddit=submission['subreddit']) }}">r/{{ submission['subreddit'] }}</a>
                    | <a href="{{ submission['comments_url'] }}">{{ submission['num_comments'] }} comments</a>
                    | Interest: {{ submission['interest'] }}
                    | Score: {{ submission['score'] }}
                    | Upvote ratio: {{ submission['upvote_ratio'] }}
                    </small></p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}